---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";

const data = await fetch(
  "https://api.themoviedb.org/3/discover/movie?api_key=102819eb53f347b566e9cfd83ca3790b&year=2023"
);
const res = await data.json();
const latestMovies = res.results;
---

<Layout title="Astro Movies">
  <main>
    <h1>Latest Movies</h1>
    <div class="movies-wrapper">
      {
        latestMovies.map((movie, index) => (
          <a href={"/" + movie.id} rel="prefetch">
            <article>
              <Image
                src={"https://image.tmdb.org/t/p/w300" + movie.poster_path}
                width={300}
                height={450}
                loading={index == 0 ? "eager" : "lazy"}
                alt={movie.title || "movie"}
                format="avif"
              />
            </article>
          </a>
        ))
      }
    </div>
  </main>
</Layout>

<style>
  article {
    display: flex;
  }

  .movies-wrapper {
    display: grid;
    gap: 2rem;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }

  main {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
  }
</style>
